body{
    margin: 2%;
    padding: 2%, 10%, 10%, 2%;
    font-family: sans-serif;
    background-color:black;
    color: wheat;
}

h2{
  background-color: darkgoldenrod;
  padding: 2%;
}

h3, p{
    padding-left: 2%;
}

p{
    font-family: monospace;
}

ul{
    list-style-type: none;
}
